<!-- app/views/cuisines/index.html.erb -->

<h1>All Cuisines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dish</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuisines.each do |cuisine| %>
      <tr>
        <td><%= cuisine.name %></td>
        <td><%= cuisine.description %></td>
        <td><%= cuisine.dish %></td>
        <td><%= cuisine.country.name %></td>
        <td><%= link_to 'Show', cuisine %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cuisines %>

<%= link_to 'Back to Countries', countries_path %>
