<h1>Hey Global Explorer, welcome</h1>

<h2>Countries</h2>

<%= form_with url: countries_path, method: :get, local: true do%>
  <%= label_tag :query, "Search for countries or regions:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Region</th>
      <th>Flag</th>
      <th>Cuisines</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country_path(country) %></td>
        <td><%= country.capital %></td>
        <td><%= country.region %></td>
        <td><%= image_tag(country.flag_url, alt: "#{country.name} flag", width: 50) %></td>
        <td>
          <%= link_to 'View Cuisines', country_cuisines_path(country) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @countries %>
