<h1>All Reviews</h1>

<% @reviews.each do |review| %>
  <div>
    <h3><%= review.reviewer_name %> - <%= link_to review.country.name, country_path(review.country) %></h3>
    <p><%= review.content %></p>
    <% if review.image.attached? %>
      <%= image_tag review.image %>
    <% end %>
  </div>
  <hr>
<% end %>

<!-- Link back to reviews index -->
<%= link_to "Back to All Reviews", reviews_path %>