<!-- app/views/reviews/show.html.erb -->
<p>
  <strong>Reviewer Name:</strong>
  <%= @review.reviewer_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>


<% if @review.image.attached? %>
  <p>
    <strong>Image:</strong><br>
    <%= image_tag @review.image %>
  </p>
<% end %>

<% if @review.country %>
  <p>
    <strong>Country:</strong>
    <%= link_to @review.country.name, country_path(@review.country) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_review_path(@review) %> | 
<%= link_to 'Back', reviews_path %>