<!DOCTYPE html>
<html>
  <head>
    <title>GlobalCuisineExplorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gradient-to-r from-purple-800 via-teal-500 to-purple-800 text-white py-4 text-center shadow-md">
      <h1 style="font-family: 'Playwrite AU NSW', sans-serif; font-weight: 400; text-align: center;">Global Cuisine Explorer</h1>
   <nav class="flex justify-end items-center px-5">
    <div class="container flex justify-end">
       <%= link_to 'Home', root_path, class: 'text-xl font-bold text-white no-underline ml-5 hover:bg-pink-500 px-3 py-2 rounded-md' %>
      <%= link_to 'About', about_path, class: 'text-xl font-bold text-white no-underline ml-5 hover:bg-pink-500 px-3 py-2 rounded-md' %>
      <%= link_to 'Cuisines', cuisines_path, class: 'text-xl font-bold text-white no-underline ml-5 hover:bg-pink-500 px-3 py-2 rounded-md' %>
      <%= link_to 'Languages', languages_path, class: 'text-xl font-bold text-white no-underline ml-5 hover:bg-pink-500 px-3 py-2 rounded-md' %>
      <!-- Add more links as needed -->
    </div>
  </nav>
</header>
<main class="prose container mx-auto">
    <%= yield %>
  </main>
  </body>
</html>
